<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>805755948864-3ro1h34d8dq1jeorc1o81vtn5irm6m0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805755948864-3ro1h34d8dq1jeorc1o81vtn5irm6m0l</string>
	<key>API_KEY</key>
	<string>AIzaSyCaxLQBTRY4PtKaMRcyUIV988999Pc34M8</string>
	<key>GCM_SENDER_ID</key>
	<string>805755948864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petsitter.list</string>
	<key>PROJECT_ID</key>
	<string>petsitter-388aa</string>
	<key>STORAGE_BUCKET</key>
	<string>petsitter-388aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805755948864:ios:4903fd76fa65452d</string>
	<key>DATABASE_URL</key>
	<string>https://petsitter-388aa.firebaseio.com</string>
</dict>
</plist>